{% extends 'base.html' %}
{% block title %}Create a File resource{% endblock %}
{% load staticfiles %}
{% block extra-head %}

<script src="{% static '/static/dropzone/js/dropzone.js' %}"></script>
<link href="{% static '/static/dropzone/css/dropzone.css' %}" type="text/css" rel="stylesheet"/>
<script type="text/javascript">
Dropzone.autoDiscover = false;
$(document).ready(function() {
  console.log("doc ready")

  var myDropzone = new Dropzone("#ThisDropzone", { 
    url: "/filemanage/upload/",
    addRemoveLinks: true,
    });

myDropzone.on("success", function(file,response) {
   console.log("file uploaded")
   console.log(response.id)
   console.log(response.path)
   console.log(response.icon)
   console.log(response.filesize)
   console.log(response.filename)
   myDropzone.removeFile(file);
   var html_test = "<div class='uploaded_file_holder'><span class = 'uploaded_file "
  + String(response.id)
  +"' style='background-image:url("
  +String(response.icon)
  +")'></span><span class='file_name'>"
  +String(response.filename) 
  +"(" 
  +String(response.filesize) 
  +")"
  +"</span></div>"
   

   
   
   $( "#attached_files" ).append(html_test);

});


});// end of doc ready function
</script>



{% endblock %}

{% block body_block %}


<body>
<div class="container">	

</div>
</body>
<div id="attached_files">
  </div>

<form action="" class="dropzone" id="ThisDropzone">
  <div class="fallback">
    <input name="file" type="file" multiple />
  </div>
</form>
<span data-dz-name>test</span>




</html>

{% endblock %}