/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}



body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	width:60%;
	box-sizing: border-box;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}

#secondsection, #thirdsection {
	visibility: hidden;
	display:none;
}
/*inputs*/
#msform input{
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

#msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
 .action-button{
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	clear:both;
}
 .action-button:hover,  .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}


#msform label{
	font-size: 14px;
}

.fieldWrapper li{
  display: block;
  width:150px;
}
.fieldWrapper {
  display: block;
  width:20%;
  float:right;
}
#id_subject li {
	display: block;
	float:right;
	max-width:100px !important;
}
.subjectWrapper{
width:35% !important;
}
.tagWrapper{
width:35% !important;	
}
.descriptionWrapper{
	width:6% !important;	
}
}

.buttons{
	display: block;
	clear:both;
}

.id_title {
	display:inline-block;

}
label[for=id_title]{
		display:inline-block;
}

/*file upload page*/
.uploaded_file{
	display: block;
	width: 100px;
	height: 100px;
	text-align: center;
	background-repeat: no-repeat;
	background-size: 100px 100px;


}
.uploaded_file_holder{
	display: block;
max-width: 110px;
height:110px;
float: left;
margin: 5px;
}
.file_name{
font-size: 11px;
font-weight: bold;
}

.dropzone{
	clear:both;
}

#myHiddenButton{
	  visibility: hidden;
	background: transparent;
    border: none !important;
    font-size:0;
}
.hidden_field{
	visibility: hidden;
}
.errorlist{
	color:red;
}
