{% extends 'wiki/base.html' %}
{% block title %}{{default_page.title}}{% endblock %}


{% block body_block %}
       <h1>{{default_page.title}}</h1>
       {% if default_page.page.body %}
       <p>
        {{default_page.page.body|safe}}
        <p>
          {%elif default_page.learningobject.indexpath %}
        <iframe scrolling="no" src="http://192.168.1.150/{{default_page.learningobject.indexpath}}" width="1200" height="800" frameBorder="0" >
        </iframe>
          {% endif  %}


<br />

<br />
{% if child_pages %}
<h2>Child pages</h2>
<list>
{% for page in child_pages %}

<li>{{page.stub}}</li>
 
 {% endfor %}
 {% endif  %}

<br />
<a href="/wiki/createpage/{{default_page.pk}}">Create child page</a>
<a href="/wiki/createlearningobject/{{default_page.pk}}">Create Learning object</a>

<br />
{% endblock %}