<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap-fluid-adj.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="/static/js/jquery-2.1.3.js"></script>
    <link href="/static/css/dave.css" rel="stylesheet">
    <script src="/static/js/bootstrap.js"></script>
      <script src="/static/js/dave.js"></script>
    

    {% block extra-head %}{% endblock %}
        <title>ASSoE Student intranet - {% block title %}{% endblock %}</title>
           
    </head>

    <body>
<div class="container"> 
     
                    <div id="topheader">
<div id="login-out-box" class="pull-right">
{% if user.is_authenticated %}
 <button class="btn btn-success"><a href="/users/logout">Log Out</a></button>
      {% else %}
      <button class="btn btn-primary"> <a href="/users/login">Log In</a> </button>
      {% endif %}

        </div>
         <h1>{% block heading %}{% endblock %}</h1>
     </div>

        <nav >
            <ul class="nav nav-tabs">
            <li><a href="/mediamanager/">View all resources</a></li>

            <li><a href="/mediamanager/edit/learningobject">New object resource</a></li>
              <li><a href="/mediamanager/create/fileresource">New file resource</a></li>

{% block extra-menu-item %}{% endblock %}
               
            </ul>
        </nav>
        <div>
            {% block body_block %}{% endblock %}
        </div>


    </body>
</html>