    
       {% extends 'base.html' %}
{% block title %}list of all Resources{% endblock %}


{% block body_block %}


        <h1>List of pages</h1>


        {% if default_resource_list %}
            <table class="table table-condensed">
                {% for resource in default_resource_list %}
                <tr>
                <td></td>

                <td><h6><a href="/mediamanager/view/{{resource.slug}}">{{ resource.title }}</a></h6>
                <p>{{ resource.learningobject.description }}</p></td>

                </tr>

                {% endfor %}
            
            </table>
        {% else %}
            <strong>There are no resources present.</strong>
        {% endif %}
{% endblock %}